@font-face { font-family: "Play"; src:url("./fonts/Play-Regular.eot") format("eot"), url("./fonts/Play-Regular.woff") format("woff"), url("./fonts/Play-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body {
    font-family: "Play", sans-serif;
    padding: 0; margin: 0;
    --fg: #e3d7bf; --bg: #232927; --col-red: #FF5774; --col-grn: #91C58C; --col-yll: #f7CA98; --col-prp: #8066D7;
    background-color: #151515;
    background-attachement: fixed; color: var(--fg);
    line-height: 1.4;
}

a { color: var(--col-prp); }
a:hover { color: var(--col-red); }
.menu { padding: 10px; text-align: center; }
.menuheader { font-size: 1.3em; font-weight: normal; }

#content { margin: 0; padding: 0; }
.maincontent {
    border: 1px solid #333937; background-color: var(--bg); box-shadow: 10px 10px 5px #111;
    margin-left: auto; margin-right: auto; max-width: 900px;
    padding: 45px;
}

h1 { margin: 0; padding: 0; font-size: 1.4em; }